* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

/*
  GRID CONTAINER
*/
.grid-container {
  display: grid;

  /*
    Define columns
    3 equal columns
  */
  grid-template-columns: repeat(3, 1fr);

  /*
    Define rows
  */
  grid-auto-rows: 100px;

  /*
    Space between items
  */
  gap: 20px;

  border: 3px dashed #1d4719;
  padding: 20px;
}

/*
  GRID ITEMS
*/
.box {
  background-color: #efeeee;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
