/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

h1{
    font-size:2.5rem;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}
.container{
    max-width: 1200px;

    margin:  auto;
    padding: 0 4px;
    min-height: 100vh;
}

h2{
    margin-bottom: 12px;
    padding-bottom:12px;
    border-bottom: 2px solid rgb(60, 211, 135);
}

h3{
    margin-bottom: 10px;
    color: red;
}
.section{
    background-color: white;
    margin-bottom:30px;
    height: auto;
    padding: 30px;
    box-shadow: 0,10px 30px rgba(0, 0, 0, 0.2);

}


.example-box{
    border-left: 4px solid rebeccapurple;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
}

.btn-basic{
    padding: 15px 30px;
    background-color: chartreuse;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.btn-basic:hover{
    background-color: coral;
}

.card{
    width: 200px;
    padding: 30px;
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
     transition: all 0.3s ease-in;

}

.card:hover{
    background-color: bisque;
    transform: translateY(-10px);
    color: white;
    
}

.box{
width:100px;
text-align:center;
color:white;
cursor:pointer;
padding:20px;
background-color: skyblue;
border-radius: 10px;
transition: all 0.5s ease;
}

.timing-demo{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.box.ease{
 transition-timing-function: ease;
}

.box.ease-in{
 transition-timing-function: ease-in;
}

.box.ease-in-out
{
 transition-timing-function: ease-in-out;
}

.box.linear{
 transition-timing-function: linear;
}

.timing-demo:hover .box{
    transform: translateX(200px);
}

/* 2.       CSS ANIMATION(KEYFRAMES) */

.bounce-box{
    height: 150px;
    width: 150px;
    background-color: green;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 24px;
    color: white;
    animation: bounce 1s ease-in-out infinite;
}


@keyframes bounce {
    0% ,100% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
    
}

.spinner{
 height: 80px;
 width: 80px;
 border: 2px solid red;
 border-top:2px solid blue;
 animation: spin 1s linear infinite;
 border-radius: 50%;
}

@keyframes spin{
  0%{
    transform:rotate(0deg)
  }

 100%{
    transform: rotate(360deg) ;
 }
}


.color-changer{
    width:150px;
    height: 150px;
    background-color: purple;
    display:flex;
    align-items: center;
    justify-content:center;
    color:white;
    animation: color-changer 3s ease-in-out infinite;


}


@keyframes color-changer {
    0%{
        background-color:purple;
        transform:scale(1)

    }

    50%{
        background-color: orange;
        transform: scale(1.1);
    }

    75%{
        background-color: blue;
        transform:scale(1)
    }

    100%{
        background-color: purple;
        transform:scale(1)
    }
}



.shake-btn{
    width: 200px;
    padding: 10px;
    background-color: red;
    border-radius: 30px;
    border: none;

}

.shake-btn:hover{
  animation: shake 1s ease-in-out ;
}

@keyframes shake {
    0%, 100% {
       transform: translateX(0);
    }

    10%, 20%, 30%, 40%{
        transform: translateX(-5px);
    }

    50%, 60%, 70%, 80%{
        transform: translateX(5px);
    }

    90%, 100%{
        transform: translateX(0);
    }
}


/* practical examples */
.loader{
width: 60px;
height: 60px;
border-radius: 50%;
border: 6px solid #f3f3f3;
border-top: 6px solid #ddd;
border-left: red;
animation: loader 1s linear infinite  ;
}

@keyframes loader{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }   
    
}
