/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

h1{
    font-size:2.5rem;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}
.container{
    max-width: 1200px;

    margin:  auto;
    padding: 0 4px;
    min-height: 100vh;
}

h2{
    margin-bottom: 12px;
    padding-bottom:12px;
    border-bottom: 2px solid rgb(60, 211, 135);
}

h3{
    margin-bottom: 10px;
    color: red;
}
.section{
    background-color: white;
    margin-bottom:30px;
    height: auto;
    padding: 30px;
    box-shadow: 0,10px 30px rgba(0, 0, 0, 0.2);

}


.example-box{
    border-left: 4px solid rebeccapurple;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
}

.btn-basic{
    padding: 15px 30px;
    background-color: chartreuse;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.btn-basic:hover{
    background-color: coral;
}

.card{
    width: 200px;
    padding: 30px;
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
     transition: all 0.3s ease-in;

}

.card:hover{
    background-color: bisque;
    transform: translateY(-10px);
    color: white;
    
}