/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 4px;
    min-height: 100vh;
}

.section{
    background-color: white;
    width:fit-content;
    height: auto;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0,10px 30px rgba(0, 0, 0, 0.2);

}


